In the previous notebook, Fourier transform was performed for all sensors and all cycles. All time signals were deduced the same length by adding the value of the last element at their original length. Amplitudes and uncertainties have been saved into .hdf5 file, which will be read in one of the next cells. Phases are neglected. 24 sensor have been taken into account.

In [123]:
import pandas as pd 
import time
%pip install openpyxl
from pathlib import Path
import matplotlib.pyplot as plt
%matplotlib inline
import matplotlib as mpl
import numpy as np
np.random.seed(42)
from scipy.signal import find_peaks
from scipy import integrate
import matplotlib.cm as cm
from mpl_toolkits.mplot3d import Axes3D
import ipywidgets as widgets
from ipywidgets import interact, interact_manual
from matplotlib._png import read_png
from matplotlib.cbook import get_sample_data
import h5py
import PyDynamic
font = {'family' : 'Times New Roman', 'weight' : 'normal', 'size'   : 20}
mpl.rcParams['figure.figsize'] = (20,10)
mpl.rc('font', **font)

Requirement already satisfied: openpyxl in c:\users\jugo01\appdata\local\continuum\anaconda3\envs\zema\lib\site-packages (3.0.0)
Requirement already satisfied: et-xmlfile in c:\users\jugo01\appdata\local\continuum\anaconda3\envs\zema\lib\site-packages (from openpyxl) (1.0.1)
Requirement already satisfied: jdcal in c:\users\jugo01\appdata\local\continuum\anaconda3\envs\zema\lib\site-packages (from openpyxl) (1.4.1)
Note: you may need to restart the kernel to use updated packages.

C:\Users\jugo01\AppData\Local\Continuum\anaconda3\envs\Zema\lib\site-packages\IPython\utils\_process_win32.py:131: ResourceWarning: unclosed file <_io.BufferedWriter name=8>
  return process_handler(cmd, _system_body)
ResourceWarning: Enable tracemalloc to get the object allocation traceback
C:\Users\jugo01\AppData\Local\Continuum\anaconda3\envs\Zema\lib\site-packages\IPython\utils\_process_win32.py:131: ResourceWarning: unclosed file <_io.BufferedReader name=9>
  return process_handler(cmd, _system_body)
ResourceWarning: Enable tracemalloc to get the object allocation traceback
C:\Users\jugo01\AppData\Local\Continuum\anaconda3\envs\Zema\lib\site-packages\IPython\utils\_process_win32.py:131: ResourceWarning: unclosed file <_io.BufferedReader name=10>
  return process_handler(cmd, _system_body)
ResourceWarning: Enable tracemalloc to get the object allocation traceback

In [2]:

hf_a = h5py.File('Amplitudes.hdf5', 'r')
hf_uap=h5py.File('Uncertainties.hdf5', 'r')

In [17]:
A_df=[None]*24
UAP_df=[None]*24
for i in range(24):
    A_df[i]=hf_a["A_df"+str(i)]
    UAP_df[i]=hf_uap["UAP"+str(i)]
    A_df[i]=pd.DataFrame(A_df[i])
    UAP_df[i]=pd.DataFrame(UAP_df[i])

In this part, two ways of feature extraction will be presented. One approach is to calculate the means of all amplitudes at given frequencies (columns) and to choose 200 of the highest ones. This will be done with the function `sort_amplitudes_and_uncertainties`. It will sort the amplitudes´ columns in descending order, according to their means. The number of columns of amplitudes corresponds also to the number of columns of their standard squared uncertainties in UAP. As mentioned before, phases and covariance between amplitudes and phases will be neglected. This means that only columns of uncertainties of amplitudes will be sorted in the way that they follow the columns of amplitudes for which they are calculated.
If you want to sort the whole matrix of uncertainties, please have a look at ZEMA machine learning tutorials

The length of time signals with padded values is 23853 (number of points) and sampling period is 0.01 s. This will serve us to get the frequencies for our amplitudes.

In [ ]:
n_of_sampling_pts=23853
sample_period=0.01
time=0.01*n_of_sampling_pts# number of sampling points
time_steps=np.arange(0, time, 0.01)  
freq=PyDynamic.uncertainty.propagate_DFT.GUM_DFTfreq(n_of_sampling_pts,float(time)/n_of_sampling_pts)

In [20]:
def sort_amplitudes_and_uncertainties (N,Amp,U,freq):

    Amp.columns = freq                    # Column labels are frequencies. 
    n_rows, n_columns=Amp.shape
    print("\nNumber of cycles is: %s, and number of features is: %s" % (n_rows, n_columns))
    # Calculating the average of absolute vales for each frequency (column).
    average_values_from_columns=(Amp.mean())
    # Sorting column indices in amplitudes for sorting phases and uncertainties
    sorted_columns=np.argsort(average_values_from_columns)[::-1]
    # Reindexing all matrices based on columns.
    Amp=Amp.reindex(Amp.mean().sort_values(ascending=False).index, axis=1)
    c=U.reindex(columns=sorted_columns)
    # Taking first N percent columns from sorted amplitudes,phases and ucertainties. 
    sorted_values_amp=Amp.iloc[:,:N]
    sorted_values_uncert_aa=c.iloc[:,:N]                                           
    n_rows, n_columns = np.shape(sorted_values_amp)
    print("\nNumber of cycles is: %s, and number of selected features is: %s" % (n_rows, n_columns))
    print(np.shape(sorted_values_amp))
    
    # Informations about the selected frequencies are columns in sorted data frame. 
    freq_of_sorted_values=(pd.DataFrame(sorted_values_amp.columns)).transpose()
    print("\nFirst 200 selected frequencies are:\n\n %s" % freq_of_sorted_values.values[:,:N])
    
    # Resetting the column labels.
    sorted_values_amp.columns=range(N)
    sorted_values_uncert_aa.columns=range(N)

    print("---------------------------------------------------------------------------------\n")
    # Output "sorted_values_matrix" is data frame whose rows-
    # -are cycles and columns are selected frequencies. For example,- 
    # -value at position (i,j) is amplitude for frequency j in cycle i.
    return freq_of_sorted_values,sorted_values_amp,sorted_values_uncert_aa

##### Function execution

In [ ]:
freq_of_sorted_values=[None]*24
sorted_values_amp=[None]*24
sorted_values_uncert_aa=[None]*24
for i in range(24):
    print("Sensor:",i)
    freq_of_sorted_values[i],sorted_values_amp[i],sorted_values_uncert_aa[i] =sort_amplitudes_and_uncertainties(200,A_df[i],UAP_df[i],freq)

##### An overwiev of the results:

In [32]:
freq_of_sorted_values[0]

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
0,0.0,0.004192,0.008385,0.012577,0.016769,0.020962,0.025154,0.029346,0.033539,0.062885,...,0.880392,0.955855,0.67916,0.8762,0.46535,0.628852,0.872008,0.461158,0.960047,0.867815

In [24]:
sorted_values_amp[0].head()

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
0,1.249238e+06,51306.973537,53465.062982,50077.198387,43944.777366,35803.955996,26863.011542,19877.496288,14093.935577,10246.881572,...,341.597260,302.235587,389.791248,328.583549,205.511337,210.569863,306.475118,222.118724,313.316411,262.960888
1,1.223638e+06,57441.696887,56056.729517,49320.147866,43230.840841,35358.496399,28088.434045,21185.725938,14339.300355,10218.745979,...,326.662563,329.255534,378.107161,309.369474,202.427087,231.534302,312.247608,180.338220,257.488401,317.350591
2,1.218094e+06,57012.576362,55318.108580,49403.087842,43336.267482,35885.956632,28273.730166,20992.529060,14213.048936,10288.641351,...,305.288734,282.226938,366.584726,298.166621,215.295840,245.211505,320.283378,189.474659,285.823705,297.560980
3,1.212368e+06,57905.083459,55180.979514,49270.170948,43554.522687,35784.252708,28257.424171,21130.631859,14215.216753,10113.391527,...,320.613635,338.618514,287.164078,325.130693,222.482337,286.241996,286.540742,229.430275,263.471091,285.008480
4,1.208742e+06,57465.176212,54891.071438,49326.256917,43278.812100,35798.010753,27964.190220,20781.194235,14289.766698,10222.232682,...,284.648930,308.457474,322.824043,274.738220,182.497048,289.929567,262.405215,202.036392,297.717729,278.275469

In [25]:
sorted_values_uncert_aa[0].head()

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
0,238.53,119.265,119.265,119.265,119.265,119.265,119.265,119.265,119.265,119.265,...,119.265,119.265,119.265,119.265,119.265,119.265,119.265,119.265,119.265,119.265
1,238.53,119.265,119.265,119.265,119.265,119.265,119.265,119.265,119.265,119.265,...,119.265,119.265,119.265,119.265,119.265,119.265,119.265,119.265,119.265,119.265
2,238.53,119.265,119.265,119.265,119.265,119.265,119.265,119.265,119.265,119.265,...,119.265,119.265,119.265,119.265,119.265,119.265,119.265,119.265,119.265,119.265
3,238.53,119.265,119.265,119.265,119.265,119.265,119.265,119.265,119.265,119.265,...,119.265,119.265,119.265,119.265,119.265,119.265,119.265,119.265,119.265,119.265
4,238.53,119.265,119.265,119.265,119.265,119.265,119.265,119.265,119.265,119.265,...,119.265,119.265,119.265,119.265,119.265,119.265,119.265,119.265,119.265,119.265

Then, an arbitrary column of measured data for all parts will be taken (because of simplicity) from the file CMMData.xlsx. For example, it will be 38 dia @200 (external diameter at 200 mm from the left).

In [308]:
measured_part=pd.read_excel(Path('Data')/'AFRC Radial Forge - Zenodoo Upload v3'/'CMMData.xlsx')

C:\Users\jugo01\AppData\Local\Continuum\anaconda3\envs\Zema\lib\site-packages\xlrd\xlsx.py:266: PendingDeprecationWarning: This method will be removed in future versions.  Use 'tree.iter()' or 'list(tree.iter())' instead.
  for elem in self.tree.iter() if Element_has_iter else self.tree.getiterator():
C:\Users\jugo01\AppData\Local\Continuum\anaconda3\envs\Zema\lib\site-packages\xlrd\xlsx.py:312: PendingDeprecationWarning: This method will be removed in future versions.  Use 'tree.iter()' or 'list(tree.iter())' instead.
  for elem in self.tree.iter() if Element_has_iter else self.tree.getiterator():

In [309]:
measured_part.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,ID @100,ID @55,38 dia @200,42 dia @140,42 dia @80,Base angle F,...,162mm taper F,162mm taper BR,162mm taper BL,40.5mm taper F,40.5mm taper BR,40.5mm taper BL,Top1,Top2,Top3,Top4
0,NaN,NaN,NaN,NaN,30.000,30.000,38.000,42.000,42.000,70.000,...,162.000,162.000,162.000,40.500,40.500,40.500,222.000,222.000,222.000,222.000
1,NaN,NaN,NaN,NaN,0.300,0.300,0.400,0.400,0.400,1.000,...,1.000,1.000,1.000,1.000,1.000,1.000,15.000,15.000,15.000,15.000
2,NaN,NaN,NaN,Part ID,-0.300,-0.300,-0.400,-0.400,-0.400,-1.000,...,-1.000,-1.000,-1.000,-1.000,-1.000,-1.000,-5.000,-5.000,-5.000,-5.000
3,31/10/2017,14:52:40,57.0,1,29.850,29.550,38.040,41.970,42.156,70.262,...,161.584,161.679,161.618,40.629,40.679,40.693,232.279,234.225,233.071,233.112
4,31/10/2017,15:10:33,58.0,2,29.853,29.564,38.036,41.963,42.154,70.181,...,161.672,161.565,161.708,40.685,40.623,40.466,233.213,233.851,232.667,234.183

First three columns of `measured_part` are the nominal value and tolerances. These will be dropped, because only measured data of the parts is needed.

In [96]:
target200=measured_part.iloc[3:,6]
target200

3     38.040
4     38.036
5     38.024
6     38.017
7     38.007
       ...
79    38.023
80    38.019
81    38.014
82    38.016
83    38.001
Name: 38 dia @200, Length: 81, dtype: float64

Pearson correlation between amplitudes at given frequencies (200 columns) and measured diameter at 200 mm from the left is performed in the following cell.

In [37]:
corr_coefs=[None]*24
column_indices=[None]*24
for i in range(24):
    corr_coefs[i]=sorted_values_amp[i].corrwith(other=target200)
    column_indices[i]=np.argsort(np.abs(corr_coefs[i]))[::-1]

Sensors with significant correlation coefficients will be identified.

In [314]:
%matplotlib inline
font = {'family' : 'Times New Roman', 'weight' : 'normal', 'size'   : 20}
mpl.rcParams['figure.figsize'] = (20,15)
mpl.rc('font', **font)
def sensors_correlation(i):
    num_of_sensor=['Power [kW]', 'Force [kN]', 'A_ges_vibr', 'Schlagzahl [1/min]','A_ACTpos [mm]', 'L_ACTpos [mm]', 'R_ACTpos [mm]','SBA_ActPos [mm]', 'A_ACT_Force [kN]', 'DB_ACT_Force [kN]','L_NOMpos [mm]', 'R_NOMpos [mm]', 'INDA_NOMpos [deg]','A_NOMpos [mm]', 'Frc_Volt', 'IP_ActPos [mm]', 'IP_NomPos','RamRetract_ActSpd [rpm]', 'ForgingBox_Temp', 'TMP_Ind_U1 [°C]','TMP_Ind_F [°C]', 'W2 Durchfluss [l]', 'W1 Durchfluss [l]','L1.R_B41 [bar]']
    plt.stem(corr_coefs[i][column_indices[i]] )
    plt.ylabel("Correlation coefficients") 
    plt.title(num_of_sensor[i])

interact(sensors_correlation,i=widgets.IntSlider(min=0, max=24, step=1))

interactive(children=(IntSlider(value=0, description='i', max=24), Output()), _dom_classes=('widget-interact',…

Second approach is to perform Pearson correlation on unsorted amplitudes at given frequencies. It means Pearson correlation is performed between columns in  *A_df[i]*, where i denotes the sensor. There are 11927 columns in total. After that 200 of columns with highest Pearson correlation coefficients will be extracted.

In [313]:
corr_coefs2=[None]*24
column_indices2=[None]*24
mean_of_amplitudes=[None]*24
for i in range(24):
    A_df[i].columns=range(11927)
    corr_coefs2[i]=(A_df[i].corrwith(other=target200))
    column_indices2[i]=np.argsort(np.abs(corr_coefs2[i]))[::-1]

In [315]:
%matplotlib inline
font = {'family' : 'Times New Roman', 'weight' : 'normal', 'size'   : 20}
mpl.rcParams['figure.figsize'] = (20,15)
mpl.rc('font', **font)
def sensors_correlation2(i):
    num_of_sensor=['Power [kW]', 'Force [kN]', 'A_ges_vibr', 'Schlagzahl [1/min]','A_ACTpos [mm]', 'L_ACTpos [mm]', 'R_ACTpos [mm]','SBA_ActPos [mm]', 'A_ACT_Force [kN]', 'DB_ACT_Force [kN]','L_NOMpos [mm]', 'R_NOMpos [mm]', 'INDA_NOMpos [deg]','A_NOMpos [mm]', 'Frc_Volt', 'IP_ActPos [mm]', 'IP_NomPos','RamRetract_ActSpd [rpm]', 'ForgingBox_Temp', 'TMP_Ind_U1 [°C]','TMP_Ind_F [°C]', 'W2 Durchfluss [l]', 'W1 Durchfluss [l]','L1.R_B41 [bar]']
    plt.stem(range(len(column_indices2[i].iloc[:200])),corr_coefs2[i][column_indices2[i].iloc[:200]])
    plt.ylabel("Correlation coefficients") 
    plt.title(num_of_sensor[i])

interact(sensors_correlation2,i=widgets.IntSlider(min=0, max=24, step=1))

interactive(children=(IntSlider(value=0, description='i', max=24), Output()), _dom_classes=('widget-interact',…

From the previous plots, it can be concluded that there are significant differences in these approaches. Because the second approach relies only on the correlation coefficients without sorting, this approach will be chosen for the next steps.

In [279]:
Amp_corr=[None]*24
UA_corr=[None]*24
for i in range(24):
    Amp_corr[i]=A_df[i].iloc[:,column_indices2[i].iloc[:200]]
    UA_corr[i]=UAP_df[i].iloc[:,column_indices2[i].iloc[:200]]

Sensors which are identified as the most significant for the measurements of external diameter are:
- 'Power [kW]', 
- 'Force [kN]', 
- 'A_ges_vibr', 
- 'Schlagzahl [1/min]',
- 'SBA_ActPos [mm]',  
- 'DB_ACT_Force [kN]',
- 'Frc_Volt', 
- 'L1.R_B41 [bar]'

In [ ]:
#assignment of column names
list1=[None]*200
for i in range(200):
    list1[i]="Column"+str(i)
Amp_corr[0].columns=list1
UA_corr[0].columns=list1

Because the outcome of the following work is not certain and it is not relied on some previous knowledge, only one sensor will be considered. This is the first sensor, that measures the power.

Data from this sensor will be split into training and testing.

In [119]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

C:\Users\jugo01\AppData\Local\Continuum\anaconda3\envs\Zema\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\jugo01\AppData\Local\Continuum\anaconda3\envs\Zema\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [284]:
y=target200.values

In [199]:
y.columns=["Diameter"]

In [288]:
X=Amp_corr[0].copy()

In [305]:

UA_df_train,UA_df_test,X_train, X_test, y_train, y_test = train_test_split(UA_corr[0],X, y, test_size = 0.3,random_state=42)

In [290]:
X_train.shape, X_test.shape

((56, 200), (25, 200))

In [291]:
y_train.shape, y_test.shape

((56,), (25,))

In [ ]:
def draw_random_samples(draws):   
    ind=[np.zeros(A_array.shape)]*draws
    for i in range(draws):
        r=np.random.randn(*A_array.shape)
        ind[i]=A_array+r*(np.sqrt(UA_array))
        
    return ind

In [302]:
a=clf.fit( X_train, y_train, sample_weight=None)

In [303]:
len(a.coef_)

200

In [304]:
a.scores_

array([-349.15951641,   75.22781299,   75.19797449])

In [297]:
clf.coef

AttributeError: 'BayesianRidge' object has no attribute 'coef'

In [224]:
clf.fit(X_train,y_train)

C:\Users\jugo01\AppData\Local\Continuum\anaconda3\envs\Zema\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

BayesianRidge(alpha_1=1e-06, alpha_2=1e-06, compute_score=False, copy_X=True,
              fit_intercept=True, lambda_1=1e-06, lambda_2=1e-06, n_iter=300,
              normalize=False, tol=0.001, verbose=False)

In [225]:
y_predicted=clf.predict(X_test)

In [226]:
y_predicted=clf.predict(X_test)
rf1_score=clf.score(X_test, clf.predict(X_test))
print("Overall score of Random Forest is:", rf1_score)

Overall score of Random Forest is: 1.0

In [190]:
# Shows the trace with a vertical line at the mean of the trace
def plot_trace(trace):
    # Traceplot with vertical lines at the mean value
    ax = pm.traceplot(trace, figsize=(14, len(trace.varnames)*1.8),
                      lines={k: v['mean'] for k, v in pm.df_summary(trace).iterrows()})
    
    matplotlib.rcParams['font.size'] = 16
    
    # Labels with the median value
    for i, mn in enumerate(pm.df_summary(trace)['mean']):
        ax[i, 0].annotate('{:0.2f}'.format(mn), xy = (mn, 0), xycoords = 'data', size = 8,
                          xytext = (-18, 18), textcoords = 'offset points', rotation = 90,
                          va = 'bottom', fontsize = 'large', color = 'red')

In [191]:

plot_trace(normal_trace)

NameError: name 'normal_trace' is not defined

In [316]:
hf_a.close()
hf_uap.close()